<div class="app-container">
  <mat-card class="search-panel">
    <div class="search-block">
      <app-place-search></app-place-search>
      <app-places-results class="results-tabs"></app-places-results>
    </div>
  </mat-card>
  <mat-card class="map-panel">
    <google-map
      height="800px"
      width="800px"
      [options]="mapOptions"
      #googleMap
      *ngIf="mapApiLoaded | async"
    >
      <map-marker
        *ngFor="let marker of markers$ | async"
        [position]="marker"
        [label]="{ text: marker.title, className: 'marker-position' }"
        [options]="{ draggable: false }"
      ></map-marker>
    </google-map>
  </mat-card>
</div>
